body
{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
    
}
html
{
    scroll-behavior: smooth;
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    width: 100%;
    height: 970px;
    background: rgb(46, 46, 46);
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper
{
    width: 100%;
    height: 100%;
    background-color: rgb(28, 28, 28);
}

.swiper-slide img
{
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next
{
    color: white;
    margin-right: 30px;
    margin-left: 30px;
}
.swiper .swiper-pagination-bullet
{
    height: 20px;
    width: 20px;

}

.swiper .swiper-pagination-bullet-active
{
    background: white;
}

header
{
    z-index: 99999;
    overflow: hidden;
    padding: 25px 0px;
    width: 100%;
    position: absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.logo
{
    width: 100px;
    justify-content: center;
    filter: drop-shadow(0 0 5px #020202) drop-shadow(0 0 10px #020202);
}
    
.logo img
{
    cursor: pointer;
    float: left;
    margin-left: 100px;
    width: 120px;
    height: 120px;
    display: flex;
    
}

header .opcje
{
    display: block;
    justify-content: right;
    margin-right: 100px;
    text-align: right;
    margin-top: 25px;
    filter: drop-shadow(0 0 5px #020202) drop-shadow(0 0 16px #020202);
}

a
{
    color: white;
    font-size: 20px;
    justify-content: right;
    margin-right: 30px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 20px;
    border-bottom: 5px solid;
    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

a:hover
{
    color: rgb(203, 34, 34);
}

#onas
{
    padding-top:30px;
    background-color: rgb(28, 28, 28);
    color: white;
    text-align: center;
    height: 700px;
    font-size: 28px;
    display: block;
}

@media only screen and (min-width: 600px) {
    #onas
    {
        padding-bottom: 1300px;
    }
}
@media only screen and (min-width: 1200px) {
    #onas
    {
        padding-bottom: 875px;
    }
}

#onas .paragraph-row
{
    display: flex;
    justify-content: right;
    font-size: 20px;
    margin-right: 1000px;
    padding: 30px;
    text-align: justify;
    width: 100%;
}

#onas .paragraph-row p
{
    width: 50%;
    padding: 30px;
}

#onas :nth-child(2n)
{
    justify-content: left;
}


.hidden
{
    opacity: 0;
    transition: all 2.5s;
    transform: translateX(-100%);
}

.show
{
    opacity: 1;
    transform: translateX(0);
}
h1
{
    text-align: center;
    width: 100%;
    margin-top: 30px;

}

#galeria
{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    color: rgb(28, 28, 28);
    font-size: 28px;
    
    
}

.foto
{
    max-height: 200px;
    max-width: 300px;
    margin: 32px;
    box-shadow: 0 0 48px 10px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.foto:hover
{
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}

.foto img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.popup
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    align-content: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
}

.popup.hidden 
{
    display: none;
}

.popup img
{
    max-width: 80%;
    max-height: 80%;
}

.popup__close
{
    position: fixed;
    top: 64px;
    right: 64px;
    font-size: 100px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}


.leftside, .rightside
{
    height: 500px;

}

.leftside
{
    background: rgb(28, 28, 28);
    width: 50%;
    float: left;
    color: white;
    text-align: center;
    font-size: 28px;
}

.leftside p{
    font-size: 20px;
}

.rightside
{
    background: rgb(28, 28, 28);
    width: 50%;
    float: right;
    color: white;
    text-align: center;
    font-size: 28px;
}

.rightside p{
    font-size: 20px;
}